<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
    
    <!--put scripts in header with tag async-->
    <script type="text/javascript" src="js/clientScript.js" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" async></script>
</head>

<body>
<div class="content">
    {{!--<div class="col-2">--}}
    {{!--    <h1>Today is a {{day}}, and it is {{date}}.</h1>--}}
    {{!--</div>--}}
    {{!--<div class="col-2">--}}
    {{!--    <h1>Hi, {{name}}! You are visitor number {{globalvisits}}.</h1>--}}
    {{!--</div>--}}
    {{!--<div class="col-2">--}}
    {{!--    <h1>I like your picture :))))))) {{pfp}}</h1>--}}
    {{!--</div>--}}
    {{!--<div class="col-2">--}}
    {{!--    <h1>You've visited -1 times.</h1>--}}
    {{!--</div>--}}
</div>


</body>
</html>